/************************************************************************/
/* PCM Conversion Utility .Exe Resources: GenExe.rc     V1.00  08/15/95 */
/* Copyright (c) 1987-1996 Andrew J. Michalik                           */
/*                                                                      */
/************************************************************************/
#include <windows.h>

/************************************************************************/
/************************************************************************/
VISLgo  ICON    vislgo.ico



