/************************************************************************/
/* PCM Conversion Utility .Exe Resources: GenExe.rc     V1.00  03/01/93 */
/* Copyright (c) 1991-1993 Andrew J. Michalik                           */
/*                                                                      */
/************************************************************************/
#include <windows.h>

/************************************************************************/
/************************************************************************/
VISLgo  ICON    vislgo.ico



